<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template id="">
    <style media="screen">
      :host {
        display: inline-block;
        padding: 10px
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button on-click="obtenerClientes" type="button" name="button">Obtener clientes</button>
        <br>
        <table class="table table-striped col-lg-12 col-xl-offset-12" hidden$="{{noCargados}}">
          <thead>
            <th>
              ID
            </th>
            <th>
              Nombre
            </th>
            <th>
              Compañía
            </th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>
  <script type="text/javascript">


  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        clientes: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        }
      };
    }

    obtenerClientes() {
      var request = new XMLHttpRequest();
      request.open ("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      console.log(this.clientes);
      this.noCargados = false;
      }

    añadirClientes() {
      var request = new XMLHttpRequest();
      request.open ("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"CustomerID":"12345","ConctactName":"Pepe","CompanyName":"Pepes Bar"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.clientes = JSON.parse(request.responseText).value;
      console.log(this.clientes);
      this.noCargados = false;
      }
    }


      window.customElements.define(GestorClientes.is, GestorClientes);
  </script>

</dom-module>
