<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymertaller-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">

    <img class="col-lg-12 col-xs-12" src="[[imagen]]" alt="" width="100px" height="100px">
    <br>
    <button on-click = "incrementar" class="text-lg-center col-lg-4 col-xs-12" type="button" name="button">BOTON VISOR</button>
    <br>
    <table class="table table-striped col-lg-12 col-xl-offset-12">
      <thead>
        <th>
          ID
        </th>
        <th>
          Nombre
        </th>
        <th>
          Apellido
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            [[prop2]]
          </td>
          <td>
            Jorge
          </td>
          <td>
            Pérez
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            María
          </td>
          <td>
            Pérez
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymertallerApp extends Polymer.Element {
      static get is() { return 'demopolymertaller-app'; }
      static get properties() {
        return {
          imagen: {
            type: String,
            value: 'https://image.flaticon.com/icons/svg/109/109232.svg'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 +1;
      }
    }

    window.customElements.define(DemopolymertallerApp.is, DemopolymertallerApp);
  </script>
</dom-module>
