<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymer-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">

    <h1>Login</h1>
    <br>
    <input type="text" placeholder="[[ayuda]]" value="{{usuario::input}}"></input>
    <br>
    <h1>Password</h1>
    <br>
    <input type="password" placeholder="[[password]]" name="Password" value="{{password::input}}"></input>
    <br>
    <button on-click = "comprobarlogin" class="text-lg-center col-lg-4 col-xs-12" type="button" name="button">LOGIN</button>
    <span>{{mensaje::input}}</span>
    <br>


  </div>

</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerLogin extends Polymer.Element {
      static get is() { return 'demopolymer-login'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          password: {
            type: String,
            value: 'Password'
          },
          mensaje: {
            type: String
          },
          ayuda: {
            type: String,
            value: 'Indique su nombre'
          }
        };
      }
      comprobarlogin() {
        console.log (this.usuario);
        if (this.usuario == "Pepe" && this.password == "1234"){
        this.mensaje = 'Login OK';
        }
        else {
        this.mensaje = 'Usuario / password incorrecto';
        }
      }
    }

    window.customElements.define(DemopolymerLogin.is, DemopolymerLogin);
  </script>
</dom-module>
